<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="head">
    <a href="{{url_for('home')}}">Home</a>
    <span style="display:inline-block; width: 610px;"></span>
    <label><b>Safe Chat</b></label>
</div>
    <h3>Fill the details to signup</h3>
    <div class="signup">
    <form id="signup" method="post" action="/signup">
        <b>User Name
        </b>
        <br><br>
        <input type="text" name="username" id="username" placeholder="Username">
        <br><br>
        <b>Email
        </b>
        <br><br>
        <input type="email" name="email" id="email" placeholder="Email">
        <br><br>
        <b>Password
        </b>
        <br><br>
        <input type="Password" name="password" id="password" placeholder="Password">
        <br><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button id="sgnp" type="submit">sign up</button>
        <br><br>
    </form>
        <h3>{{ message }}</h3>
</div>
</body>
</html>