<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default mainSbiHeader">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand pad-r-30" type="button" data-toggle="modal" data-target="#mainMenu"><img src="/img/hamburger_menu.svg" alt="" height="32"></a>
						<a class="navbar-brand" href=""><img src="/img/sbi_intouch_logo.svg" alt="" height="32"></a>
					</div>
                  <p>hello</p>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right sbi-other-journey">
							<li><a href="/wps/portal/accountopening/digital-account" class="pad-r-10">Open a Digital Account </a></li>
							<li><a href="/wps/portal/financial-products" class="pad-r-10">Financial Products</a></li>
							<!--<li><a href="/wps/myportal/Home/shop" class="pad-r-10">Shop</a></li>
						<li><a href="/wps/myportal/Home/book-and-order" class="pad-r-10" id="HDR_GO_TO_BKNORDR" click-stream="click">Book &amp; Order</a></li>-->
						<li><a href="/wps/myportal/Home/ShopOrder" class="pad-r-10">Shop &amp; Order</a></li>
							<li><a href="/wps/myportal/Home/ShopOrder?path=category/merchant/OMPBO60" class="pad-r-10">Best Offers</a></li>
							<li><a href="#" class="pad-r-10"><img  class="prehome-icons" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAWAQMAAAAPcaX1AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAnAAAAbgABdqCpzwAAAABJRU5ErkJggg==" width="20" height="18"></a></li>
<li><a href="/wps/portal/yono-support" class="pad-r-2"><img src="/img/message_icon.png" alt="" width="20" height="18"></a></li>
						</ul>
					</div>
					<div class="collapse" id="navbarTogglerDemo01">
						<ul class="nav navbar-nav">
							<li><a ui-sref="sub.accountOpening">Account Opening by Customer</a></li>
							<li><a ui-sref="sub.biometricDetails">Aadhaar with Ref no</a></li>
							<li><a ui-sref="sub.biometricDetails">Visit the branch (Based on the Aadhaar)</a></li>
							<li><a ui-sref="sub.biometricDetails">No Aadhaar</a></li>
							<li><a ui-sref="sub.aoExistingcustomer">Existing customer</a></li>
						</ul>
					</div>
				</div>
			</nav>
</body>
</html>