<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style>
    left_vr {
  float: left;
  width: 15%;
  height: 80vh;
  font-size: 25px;
  padding: 25px;
  border-style: solid;
   }
msgs {
  float: right;
  padding: 8px;
  width: 80%;
  font-size: 20px;
  background-color: white;
  height: 85vh;
  border-style: none;
}
    </style>
</head>
<body>
<div class="head">
    <a href="{{url_for('home')}}">Home</a>
    <span style="display:inline-block; width: 610px;"></span>
    <label><b>Safe Chat</b></label>
    </div>
    <div class="nav2" >
        <a><b> {{current_user.username}}</b></a>
        </div>
     <div class="nav1" >
         <a href="{{url_for('logout')}}">Logout</a>
     </div>
</div>
<section>
  <left_vr>
      {% for room in rooms %}
            <div class="row container vertical-divider">
    <div class="col"><a class="text-left" href="/rooms/{{ room._id.room_id }}"><h4 class="text-success">{{ room.room_name }}</h4></a></div>

  </div>
          {% endfor %}
      <h4>{{room.name}}</h4>
<h4>Members</h4>
<ul type="none">
    {% for member in room_members %}
        <li><img src="{{ url_for('static', filename='images/user1.png')}} " alt="user"  width="25" height="25">{{ member._id.username }}</li>
    {% endfor %}
</ul>
<input type=button id="button1" onClick="location.href='edit'" value='edit room'>
  </left_vr>
    <msgs>
<button type="button" id="load_older_messages_btn">Load Older Messages</button>
        <br><br>
<div id="messages">
    {% for msg in messages %}
        <div><b>{{ msg.sender }}&nbsp;[{{ msg.created_at }}]:&nbsp;</b> {{ msg.text }}</div>
    {% endfor %}
</div>

<form id="message_input_form">
    <input type="text" size="30" id="msg_ip" placeholder="Enter your message here" name="message_send">
    <button id="button1" type="submit">Send</button>
</form>

    </msgs>
</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    const skt = io.connect("http://127.0.0.1:5000");
    skt.on('connect', function () {
        skt.emit('joined_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let msg_ip = document.getElementById('msg_ip');
        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let msg = msg_ip.value.trim();
            msg_ip.value = '';
            msg_ip.focus();
            if (msg.length) {
                skt.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: msg
                })
            }

        }
    });

    let page = 0;

   document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(msg => prepend_msg(msg.text, msg.sender, msg.created_at));
            })
        })
    };

    function prepend_msg(msg, username, created_at) {
        const nn = document.createElement('div');
        nn.innerHTML = `<b>${username}&nbsp;[${created_at}]:&nbsp;</b> ${msg}`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(nn, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        skt.emit('left_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    skt.on('receive_message', function (d) {
        console.log(d);
        const nn = document.createElement('div');
        nn.innerHTML = `<b>${d.username}&nbsp;[${d.created_at}]:&nbsp;</b> ${d.message}`;
        document.getElementById('messages').appendChild(nn);
    });

    skt.on('joined_room_action', function (d) {
        console.log(d);
        if (d.username !== "{{ username }}") {
            const nn= document.createElement('div');
            nn.innerHTML = `<b>${d.username}</b> has joined the room`;
            document.getElementById('messages').appendChild(nn);
        }
    });

    skt.on('left_room_action', function (d) {
        console.log(d);
        const nn = document.createElement('div');
        nn.innerHTML = `<b>${d.username}</b> has left the room`;
        document.getElementById('messages').appendChild(nn);
    });
</script>
</html>